* {
  box-sizing: border-box;
}

body {
  font-family: Comfortaa;
  margin: 0;
  background: #f3f6fd;
}

.app {
  display: flex;
}

.logo {
  margin-bottom: 50px;
}

.panel {
  min-height: 100vh;
  padding: 30px;
  background: #ffffff;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}

.menu-item {
  background: #ffffff;
  box-shadow: 0px 8px 14px rgba(62, 107, 224, 0.12);
  border-radius: 14px;
  border: none;
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.menu-item:hover {
  background: #6a6afb;
}

.menu-item:hover img {
  filter: brightness(0) invert(1);
}

.menu-item-active {
  background: #5051f9;
}

.menu-item-active img {
  filter: brightness(0) invert(1);
}

.menu-add {
  background: none;
  border: 1px solid #cad5ff;
  border-radius: 14px;
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.menu-add:hover {
  background: #e1e6ff;
}

.content {
  min-width: 750px;
  padding: 45px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 30px;
  line-height: 33px;
  color: #000000;
}

.progress {
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-width: 235px;
  font-size: 14px;
  color: #232360;
}

.progress-text {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 16px;
  color: #232360;
}

.progress-bar {
  width: 100%;
  height: 5px;
  background: #e6e9ed;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}

.progress-cover-bar {
  height: 100%;
  background: #5051f9;
  position: absolute;
  border-radius: 4px;
  width: 50%;
}
main {
  margin-top: 30px;
}
.habbit {
  display: flex;
  align-items: center;
  background: #ffffff;
  border-radius: 10px;
  margin-bottom: 12px;
}

.habbit-day {
  background: #fbfaff;
  border-radius: 10px 0 0 10px;
  border-right: 1px solid #e7ebfb;
  padding: 20px 40px;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 100%;
  min-width: 150px;
}

.habbit-coment {
  padding: 20px 25px;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
}

.habbit-delete {
  margin-left: auto;
  margin-right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
}

.habbit-delete:hover {
  background: #e1e6ff;
}

input {
  border: 1px solid #e7ebfb;
  background: #ffffff;
  font-family: Comfortaa;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  padding: 12px 20px;
  flex: 1;
}

input:placeholder {
  color: #8899a8;
}

.habbit-form {
  padding: 0px 10px 0px 25px;
  display: flex;
  gap: 15px;
  width: 100%;
  position: relative;
}

.input_icon {
  padding-left: 45px;
}

.input__icon {
  position: absolute;
  top: 10px;
  left: 45px;
}

.button {
  background: #edecfe;
  border: none;
  border-radius: 9px;
  font-weight: 500;
  font-style: Medium;
  font-size: 13px;
  line-height: 14px;
  color: #5051f9;
  padding: 14px 30px;
  cursor: pointer;
}
.button:hover {
  background: #d4d2fe;
}
